body{background:url(assets/img/white_leather.png) repeat 0 0; }
.alignR{text-align:right;}
#header{ padding-top:44px;}

#header p{padding:0; margin:0; line-height:1em; font-size:100%}
#header h1{margin:1;line-height:1em }
#header h1.dotmark{line-height:1.5em;}

.logo {padding-top: 11px;display: block;}
.logo span{display:none}
.dotmark{padding:4px; font-size:14px; line-height:1.5em;  background:#fff; border:1px dashed rgb(252, 111, 0); margin:0; color:rgb(252, 111, 0); position:relative;}
.dotmark:hover{ border:1px dashed #fff; color:#fff; background:rgb(252, 111, 0);}
.dotmark i{position:absolute; left:10%; top:-12px; font-size:21px;}
.offerNoteWrapper{border:6px solid #fff; margin: 6px;}
.offerNoteWrapper:hover{border-color:rgb(252, 111, 0);}

hr.soften {margin: 8px 0;background: #DDD;}
.cntr{text-align:center}

.topNav{padding: 0;border-bottom: 1px solid #CCC;background: #f2f2f2;box-shadow: 0 0 3px #B1AFAF;}
.topNav a{color:#333; font-size:12px; font-weight:bold; display:inline-block;  padding:8px 4px;}
.topNav a:hover, .topNav a.active{color:#fff; background:#f89406; text-decoration:none}

.socialNw a{width:24px; height:24px; padding:3px; margin-top:3px; font-size:21px; border-radius:50%; background:#999; color:#fff; text-align:center; }
.navbar-inner {padding-left: 0;padding-right: 0;}

.footer {background-color:#222; color:#eee; padding: 28px 8px 18px; margin-top: 18px;}
.footer a{color:#bbb; font-size:12px;}

.gotop {background-color: #000000;display: none;position: fixed;bottom: 30px;right: 30px;padding: 0px 10px 5px;color: #fff;text-decoration: none;font-size: 30px;line-height: 34px;}
.gotop:hover {color: #fff;text-decoration: none;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
#gototop{margin-top:1px;}

#sidebar .nav a{color:#000}
#sidebar .nav a:hover{color:#f89406}
#sidebar h2{font-size:21px; line-height:21px;}

.shopBtn {min-height: 34px;font-size: 14px;font-weight: bold;line-height: 34px;text-align: center;color: #fff;border-radius: 2px;background: #f89406;display:inline-block;padding:0 12px;border:0;}
.defaultBtn {min-height: 34px;font-size: 14px;font-weight: bold;line-height: 34px;text-align: center;border-radius: 2px;display:inline-block;padding:0 12px;color: #666;text-decoration: none;background: #e6e6e6;border:0;}
.shopBtn:hover {color: #fff; text-decoration:none; background:#F86706}

#sidebar ul {margin: 0;padding: 0;}
.zoomTool{width:120px; height:34px; font-size:14px; font-weight:bold; line-height:34px; text-align:center; color:#fff; border-radius:2px; background:#f89406; position:absolute; left:50%; top:44%; margin-left:-60px; z-index:999; display:none}.thumbnail{background:#fff}

.carousel-caption {background: transparent;}
#myCarousel{position:relative; margin: 0;}

.np{padding:0}
.carousel-control {border: 0px; border-radius:2px}
.carousel-control, .carousel-control:hover {background:rgba(248, 118, 16, 1); height:43px; line-height:34px; color: #fff;}
.carousel-control {top: 50%;}
.homCar h4 {background-color: #eb4800; color: #fff;padding: 11px 4px;font-size: 26px;text-transform: uppercase;float: left;width: auto;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';opacity: 0.8;}
.homCar p span{background-color: #fff;color: #000;padding: 2px 10px;line-height: 30px;font-size: 28px;float: left;width: auto;opacity: 0.8;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';}
.carousel-control.left{left: -15600px;}
.carousel-control.right{right: -15600px;}
.carousel:hover .carousel-control.right{right: 8px; }
.carousel:hover .carousel-control.left{left: 8px;}

h3 {font-size: 18px;line-height: 1.5em;}
.thumbnail{position:relative;}
.tag {background:url(assets/img/new.png) no-repeat 0 0; position: absolute; display:block; top: -4px;right: -18px; height:48px; width:48px;}
#newProductCar .carousel-control {position: absolute;top: -48px;width: 24px;height: 24px;margin-top: 0;font-size: 16px;font-weight: bold;line-height: 1.5em;color: #ffffff;text-align: center;background: #FFA300;border: 0;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
#newProductCar .carousel-control.right {right: 8px; left: auto;}
#newProductCar .carousel-control.left {right: 38px; left: auto;}
#newProductCar{margin-bottom:0}

.actionList a{width:50%; font-size:11px; color:#444}

.thumbnail .caption {padding: 9px;color: #555555;background: #F3F2F2;}
.thumbnail h5,.thumbnail p{text-align:center}

.loginFrm{ margin-bottom:8px;}
.loginFrm .control-group{padding:8px 14px 0; margin-bottom:0 }

.navbar .nav , .marginLess{margin:0}
.navbar-search .search-query {padding: 4px 14px;border-radius: 10px;line-height: 1.5em; min-width: 200px;}
.navbar-search{margin-left:6px;}

.copyright {clear: both; padding: 8px; border-top: 1px solid #CCC; font-size: 13px; background: #f2f2f2; box-shadow: 0 0 3px #B1AFAF;}

.homCar{overflow:hidden;}



